@{
    ViewData["Title"] = "Classmates";
}

<!-- ======= Hero Section ======= -->
<section id="hero" class="hero d-flex flex-column justify-content-center align-items-center" data-aos="fade" data-aos-delay="1500">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 text-center">
                <h2><span>Classmates</span></h2>
                <p>The people of various backgrounds and experience from whom I received help and in return helped</p>
            </div>
        </div>
    </div>
</section><!-- End Hero Section -->

<main>
    <!-- ======= Gallery Section ======= -->
    <section id="gallery" class="gallery">
        <div class="container-fluid">

            <div class="row gy-4">
                <div class="col-md-3 col-lg-4 col-md-6 p-3">
                    <h2>Robert Ritter</h2>
                    <div class="gallery-item h-100">
                        <img src="~/assets/img/gallery/rob.jpg" class="img-fluid" alt="Robert Ritter">
                        <div class="gallery-links d-flex align-items-center justify-content-center">
                            <a href="http://ritterhaus.net">Website</a>
                        </div>
                    </div>
                </div><!-- End Gallery Item -->
                <div class="col-md-3 col-lg-4 col-md-6 p-3">
                    <h2>Cody Slivinski</h2>
                    <div class="gallery-item h-100">
                        <img src="~/assets/img/gallery/cody.jpg" class="img-fluid" alt="Cody Slivinski">
                        <div class="gallery-links d-flex align-items-center justify-content-center">
                            <a href="http://codyslivinski.com">Website</a>
                        </div>
                    </div>
                </div><!-- End Gallery Item -->
                <div class="col-md-3 col-lg-4 col-md-6 p-3">
                    <h2>Darron Wentz</h2>
                    <div class="gallery-item h-100">
                        <img src="~/assets/img/gallery/darron.jpg" class="img-fluid" alt="Darron Wentz">
                        <div class="gallery-links d-flex align-items-center justify-content-center">
                            <a href="assets/img/gallery/gallery-3.jpg" title="Gallery 3" class="glightbox preview-link">
                                <a href="http://werntzdomain.com">Website</a>
                            </a>
                        </div>
                    </div>
                </div><!-- End Gallery Item -->
                <div class="col-md-3 col-lg-4 col-md-6 p-3">
                    <h2>Jace Cockrell</h2>
                    <div class="gallery-item h-100">
                        <img src="~/assets/img/gallery/jace.png" class="img-fluid" alt="Jace Cockrell">
                        <div class="gallery-links d-flex align-items-center justify-content-center">
                            <a href="assets/img/gallery/gallery-4.jpg" title="Gallery 4" class="glightbox preview-link">
                                <a href="http://jacecockrell.com">Website</a>
                            </a>
                        </div>
                    </div>
                </div><!-- End Gallery Item -->
                <div class="col-md-3 col-lg-4 col-md-6 p-3">
                    <h2>Kyle Gough</h2>
                    <div class="gallery-item h-100">
                        <img src="~/assets/img/gallery/kyle.jpg" class="img-fluid" alt="Kyle Gough">
                        <div class="gallery-links d-flex align-items-center justify-content-center">
                            <a href="assets/img/gallery/gallery-5.jpg" title="Gallery 5" class="glightbox preview-link">
                                <a href="http://goughkyle.com">Website</a>
                            </a>
                        </div>
                    </div>
                </div><!-- End Gallery Item -->
                <div class="col-md-3 col-lg-4 col-md-6 p-3">
                    <h2>Nicholas Davolt</h2>
                    <div class="gallery-item h-100">
                        <img src="~/assets/img/gallery/nicholas.jpg" class="img-fluid" alt="Nicholas Davolt">
                        <div class="gallery-links d-flex align-items-center justify-content-center">
                            <a href="assets/img/gallery/gallery-6.jpg" title="Gallery 6">
                                <a href="http://nicholasdavolt.com/">Website</a>
                            </a>
                        </div>
                    </div>
                </div> <!-- End Gallery Item -->
                <div class="col-md-3 col-lg-4 col-md-6 p-3">
                    <h2>Devon Schmidt</h2>
                    <div class="gallery-item h-100">
                        <img src="~/assets/img/gallery/devon.jpeg" class="img-fluid" alt="Devon">
                        <div class="gallery-links d-flex align-items-center justify-content-center">
                            <a href="assets/img/gallery/gallery-6.jpg" title="Gallery 6">
                                <a href="http://devschmidt.com/">Website</a>
                            </a>
                        </div>
                    </div>
                </div> <!-- End Gallery Item -->
                <div class="col-md-3 col-lg-4 col-md-6 p-3">
                    <h2>Jake Nobles</h2>
                    <div class="gallery-item h-100">
                        <img src="~/assets/img/gallery/comingsoon.png" class="img-fluid" alt="Jake">
                        <div class="gallery-links d-flex align-items-center justify-content-center">
                            <p>Site to be added</p>
                        </div>
                    </div>
                </div> <!-- End Gallery Item -->
                <div class="col-md-3 col-lg-4 col-md-6 p-3">
                    <h2>Kurtis Caldwell</h2>
                    <div class="gallery-item h-100">
                        <img src="~/assets/img/gallery/comingsoon.png" class="img-fluid" alt="Kurtis">
                        <div class="gallery-links d-flex align-items-center justify-content-center">
                            <p>Site to be added</p>
                        </div>
                    </div>
                </div> <!-- End Gallery Item -->
            </div>
        </div>
    </section><!-- End Gallery Section -->
</main>
