
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="hero d-flex flex-column justify-content-center align-items-center" data-aos="fade" data-aos-delay="1500">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center">
                    <h2>I'm <span>Andrew Cocroft</span> and this is the website I made!</h2>
                    <p>This website was proudly made under the tutelage of Centriq.</p>
                    <a href="contact.html" class="btn-get-started">Available for hire</a>
                </div>
            </div>
        </div>
    </section><!-- End Hero Section -->

    <main id="main" data-aos="fade" data-aos-delay="1500">

        <!-- ======= Body with a small introduction ======= -->
        <section id="gallery" class="gallery">
            <div class="container-fluid">

                <div class="row gy-4 justify-content-center">
                    <div class="col-xl-4 col-lg-4 col-md-4">
                        <div class="gallery-item h-100">
                            <img src="assets/img/gallery/Andrew.jpg" class="img-fluid" alt="Image">
                            <div class="gallery-links d-flex align-items-center justify-content-center">
                                <a href="assets/img/gallery/gallery-1.jpg" title="Andrew" class="glightbox preview-link"></a>
                                <p>Andrew Cocroft</p>
                            </div>
                        </div>
                    </div><!-- End Gallery Item -->
                    <div class="col-xl-6 col-lg-6 col-md-6 d-flex align-items-center">
                        <div class="gallery-content">
                            <h2>Introduction</h2>
                            <p>
                                I am currently training under Centriq's extensive and focused training program. Here, I have gone form
                                working simple retail and food industry jobs to being on my way to a brighter, beneficial, and successful future!
                            </p>
                            <h2>About</h2>
                            <p>
                                For nine years, I had been limited in terms of success and security through my work history in retail, warehousing,
                                and the food industry, and while it was great to meet all the people I did and go to the places I've been, I felt
                                it was time for a change. That's why I decided to wed my enthusiasm for software and tech as a means of breaking past
                                my boundaries, and making something better of myself.
                                <br>
                                <br>
                                I consider myself to be a dedicated and hard worker, willing to push the limits to deliver the best results
                                as fast as possible. I ask a lot of questions and I'm not afraid to reach out for help, but I generally work
                                my best alone.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End Gallery Section -->

    </main><!-- End #main -->
